* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(180deg, #66f2f9, #20a4aa);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.container {
    width: 340px;
    max-width: 100%;
    padding: 20px 20px 0;
    background: #fff;
    border-radius: 10px;
}

.header, .body, .footer {
    padding-bottom: 20px;
}

form, .addItem, .item, .information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 100%;
}

input {
    width: 86%;
    height: 100%;
    padding: 0 10px;
}

button {
    border: none;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.addItem button {
    width: 11%;
    background-color: #8a33d7;
    color: #fff;
}

.changeBody {
    display: flex;
    width: 74px;
}

.item {
    background: #e8e9ea;
    margin: 5px 0;
    border-radius: 5px;
    padding-left:10px;
}

.item p {
    color: #353535;
}

.editItem button, .removeItem button {
    width: 35px;
    height: 35px;
    background-color: red;
    color: #fff;
}

.editItem button {
    background-color: yellowgreen;
    color: #fff;
    margin-right: 4px;
}

.title {
    font-size: 30px;
    margin-bottom: 15px;
}

.clearAll {
    width: 25%;
    background: #8a33d7;
    color: #fff;
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    input {
        width: 70%;
        height: 30px;
    }

    .addItem button {
        width: 30%;
        height: 30px;
    }

    .title {
        font-size: 20px;
    }

    .item {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .item p {
        margin-bottom: 5px;
    }

    .changeBody button {
        display: flex;
        width: 25px;
        height: 25px;
    }

    .editItem, .removeItem {
        width: 100%;
    }

    .editItem button , .removeItem button{
        width: auto;
    }

    .information {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .clearAll {
        width: 100%;
    }
}